@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

/* Padrão Site todo */

* {
    border: 0;
    padding: 0;
    margin: auto;
    position: relative;
    font-family: system-ui;
    transition: all 0.50s ease-in-out;
    overflow-x: hidden;
}

/* Dark e Light Mode em BODY: */
.dark {
    /* background-color: #121212; */
    background: linear-gradient(to top, black 70%, #121212);
    /* background-image: url(../_imagens/undertaleWallpaper2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: black; */

}

.light {
    background-color: rgb(245, 209, 179);

    p,
    h1,
    h2,
    h3,
    li {
        color: black;
    }

    .navAncora,
    .navPrincipal,
    .container,
    .container3 {
        background-color: rgb(245, 179, 179);
        box-shadow: 0px 0px 0px 0px;
    }
}



/* ---------------------------------------- */


/* Personalização do HEADER: */

header {
    /* background-color: rgb(212, 163, 163); */
    height: 50px;
    width: auto;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    position: absolute;

}

.navPrincipal,
.navAncora {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: white;
    width: 275px;
    height: 60px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    box-shadow: 0px 2px 7px rgb(255, 254, 254);
    display: flex;
    align-items: center;
    justify-content: center;


}

.navPrincipal {
    float: right;
}

.navAncora {
    float: left;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    letter-spacing: 3px;
    padding: 10px;
}


/* Teste: */

/* @media (max-width: 999px) {
    .navPrincipal{
        flex-direction: column;
    }
} */

/* .mobile-menu{
    cursor: pointer;
}
 
.mobile-menu div{
    width: 32x;
    height: 2px;
    background: black;
    margin: 8px;
} */


/* ---------------------------------------- */


/* Personalização do MAIN */

main {
    max-width: 1300px;

}

/* Arrumando o Titulo */

.titulo .logo1 {
    width: 80px;
    float: left;
}

.titulo .logo2 {
    width: 80px;
    float: right;
}

.titulo h1 {
    padding-left: 10px;
    padding-right: 10px;
}

.titulo {
    /* border: 3px solid green; */
    width: 500px;
    text-align: center;
    display: flex;
    padding-bottom: 50px;

}

/* Caixas de texto e Caixas com imagens: */

.container,
.container2,
.container3,
.container4,
.container5,
.container6 {
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 0px;

}

.container-especial {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;

}

.container,
.container3 {
    height: auto;
    width: 95%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container2,
.container4,
.container5,
.container6 {
    height: 170px;
    /* width: 95%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container2 {
    background-image: url(../_imagens/undertaleWallpaper3.gif);
    background-position: center;
    background-color: black;
    background-size: 28%;
    border: 0px solid white;
}

.container4 {
    background-image: url(../_imagens/undertaleWallpaper.gif);
    overflow: hidden
}

.container4 img {
    width: 35%;
    max-height: 450px;

}

.container5 {
    background-image: url(../_imagens/zbannerTechno.png);
}

.container6 {
    background-image: url(../_imagens/zbannerTechno2.jpg);
}

.container4 img:hover {
    width: 70%;
    transition: all ease 0.9s;
    cursor: pointer;

}

.card-sites {
    text-align: center;
    position: absolute;

}


.object {
    max-width: 850px;
    text-align: justify;
    align-items: center;

}

.object-especial {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.object-especial h2,
p {
    font-family: "Jersey 10", sans-serif, system-ui;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    color: white;
}

.texto-main {
    max-width: 600px;
}

/* grid contendo coisas importantes? */

.grid {
    display: grid;
    /* background-color: white; */
    grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
    grid-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid,
.grid2 div {
    text-align: center;
    justify-content: center;
}

.undertale-intro-img img {
    /* ARRUMAR O TAMANHO DISSO GUILHERME DO FUTURO */
    /* ARRUMAR O TAMANHO DISSO GUILHERME DO FUTURO */
    width: 397px;
    height: 213px;
}

.undertale-game-img img {
    width: 100%;
    height: 100%;

}

.grid2 {
    display: grid;
    /* background-color: white; */
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 150px;
    /* max-width: 1200px; */
    margin: 0 auto;

}

.plataforma-jogo-icone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.plataforma-jogo-icone li {
    flex-basis: 200;
}

.plataforma-jogo-icone img {
    width: 50px;
    height: 50px;
}

.plataforma-jogo-icone .icone-nintendo,
.icone-playstation,
.icone-xbox,
.icone-steam:hover {
    transition: all ease 0.5s;
    cursor: pointer;

}

.plataforma-jogo-icone .icone-nintendo:hover {
    filter: drop-shadow(0px 0px 30px #e4000f);
}

figure {
    text-align: center;
    /* border: 1px solid white; */
}

/* Imagens no fundo das escritas */

.figuraFundo,
.figuraFundo2 {
    position: absolute;
    text-align: center;
}

.figuraFundo img {
    width: 750px;
    opacity: 10%;
}

.figuraFundo2 img {
    width: 230px;
    opacity: 15%;
}

/* Formatação do link presente no texto (não confundir com o fundo) */

.linkNoTexto {
    color: rgb(150, 109, 255);
}


/* ---------------------------------------- */


/* Personalização do FOOTER: */

.footer {
    background-color: black;
    color: white;
    height: 150px;
    text-align: center;
}

.footerInfos {
    padding-top: 20px;

}

/* .footer img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
} */


/* ---------------------------------------- */


/* Personalização GERAL (Elementos) */

h1 {
    color: white;
    text-align: center;
}

h2,
h3 {
    color: white;
}

figcaption {
    color: white;
    font-family: "Jersey 10", sans-serif, system-ui;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 10px;
}

button {
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    color: black;
    width: 100px;
    height: 25px;
    cursor: pointer;
}